if correct
  audio(src="https://s3.amazonaws.com/madziki.com/audio/cheer.mp3")
  s
    | That is correct!
  s
    | The word
    |
    +slow #{word}
    |
    | is the correct answer!

else
  audio(src="https://s3.amazonaws.com/madziki.com/audio/buzzer.mp3")
  s
    | Sorry, the word
    |
    +slow #{answer}
  |
  | is not the correct answer.
  s
    | The correct answer is
    |
    +slow #{word}.
    |
  s
    +slow #{word}
    |
    | is spelled
    |
    +characters #{word}
    | .

|
s.
  To continue say next.
